<div class="admin-page" ng-controller="SessionsListCtrl">
    <div class="admin-div">
        <div class="admin-header-div">
            <span class="admin-header">Bootcamp Sessions</span>
            <button class="btn slim-btn admin-header-btn" ng-click="showAddSession()">Add Session</button>
        </div>

        <table class="table admin-table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Technology</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="session in sessions">
                    <td>{{ session.BootcampName }}</td>
                    <td>{{ session.Location }}</td>
                    <td>{{ session.Technology }}</td>
                    <td>{{ session.StartDate }}</td>
                    <td>{{ session.EndDate}}</td>
                    <td><i class="glyphicon glyphicon-trash" ng-click="showConfirmDelete(session.BootcampSessionId)"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div class="admin-div" ng-show="confirmDelete">
        <p>Are you sure you want to delete the session?</p>
        <button class="btn slim-btn cancel-btn" ng-click="hideConfirmDelete">Cancel</button>
        <button class="btn slim-btn" ng-click="delete(id)">Delete</button>
    </div>
    
    <div class="admin-div" ng-show="addSession">
        <p>Which bootcamp do you want to add a session to?</p>
        <form name="form" class="angular-form">
            <select ng-model="selectedBootcampId" name="bootcamp" class="default-dropdown ang-control" ng-options="bootcamp.BootcampID as bootcamp.Name for bootcamp in bootcamps" required></select>
            <a href="#/add/{{ selectedBootcampId }}" ng-show="form.bootcamp.$valid"><button class="btn slim-btn">Go to add session</button></a>
        </form>
    </div>
</div>
